*{
    margin: 0;
    padding: 0;
}
.link{
    position: relative; 
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: transparent;
    margin-left: 50%;
    margin-top: 15px; 
    align-items: center;
    flex-direction: row;
    margin-top: -700px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    animation: rotate 0.7s ease-in-out infinite alternate;
}
.link:hover{
    background: transparent;
    color: #fff;
    transition: 0.4s;
    animation:none
}
@keyframes rotate {
    0%
    {
        transform: rotate(15deg) translate3d(0, 0, 0);
    }
    25%
    {
        transform: rotate(0deg) translate3d(4px, 0, 0);
    }
    50%
    {
        transform: rotate(10deg) translate3d(-3px, 0, 0);
    }
    75%
    {
        transform: rotate(-10deg) translate3d(2px, 0, 0);
    }
    100%
    {
        transform: rotate(0deg) translate3d(-1px, 0, 0);
    }
}


body{
    background-color: #173e43;
    display: flex;
    place-items: center;
    min-height: 100vh;
    margin-top: 45px;
}
main{
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
    width: 50%;
    min-height: 50%;
    margin: auto;
    margin-left: -34%;
}
main div{
    text-align: center;
    border-radius: 3px;
    padding: 2.3cm;
}
.itemA{
    background-color: rgb(249, 113, 2);
    grid-area: a;

}
.itemB{
    background-color: rgb(255, 174, 0);
    grid-area: b;
    padding-top: 5cm;
}
.itemC{
    background-color: rgb(55, 241, 55);
    grid-area: c;
    padding-bottom: 0.5cm;
}
.itemD{
    background-color: rgb(62, 154, 234);
    grid-area: d;
    padding-bottom: 0.5cm;
}
.itemE{
    background-color: rgb(62, 154, 234);
    grid-area: e;
}
@media screen and (max-width: 807px) and (min-width: 100px) {
    main {
        flex-direction: row;
      margin-right: -50%;
      padding: 10px;
    }
    body > * {
        width: 100%;
    }
    main div {
       padding: 1.2cm;
       gap: 5px;
    }
    .link{
      margin-top: 700px;  
      text-align: center;
        width: 175px;
    }
    .itemA{
        padding: 2.3cm;
        padding-top: 1cm;
    }
    .itemB{
        padding-top: 1.1cm;
    }
    .itemC{
        padding-top: 0cm;
        padding-bottom: 2cm;
    }
    
  }